@media only screen and (max-width: 900px) {
    header {
    padding: 18px 30px;
}
.header-center {
    position: absolute;
    left: -300px;
    top: 0px;
    background: #9b0103;
    height: 100%;
    width: 300px;
    text-align: left;
    padding: 30px;
}
.header-center.active{
    left: 0px;
}
#menubar {
    display: block;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-center ul {
    flex-direction: column;
    gap: 20px;
}

.header-center ul li {
    color: #fff;
}
footer {
    padding: 18px 30px;
}
.footer2 {
    padding: 0px 30px;
}
.footer2-left {
    padding-left: 149px;
}
footer {
    display: flex;
    padding: 0 83px;
    flex-wrap: wrap;
}
.width{
    width: 50%;
}
}
 
@media only screen and (max-width: 480px) {

img.logo-img {
    width: 75%;
}

img.button-size {
    width: 75%;
}

.footer-content {
    width: 223px;
}
footer {
    padding: 18 30px;
}
}