@media only screen and (max-width: 990px) {
    header {
        width: 49%;
    }
}

@media only screen and (max-width: 430px) {
    header {
        width: 100%;
    }
}
.logo-style {
    width: 100%;
}

.button-element{
    width: 100%;
}