body {
	font-family: "Lato", sans-serif;
	margin: 0 0px;
}

header {
	background: #F1F3F4;
	padding: 5px;	
}
header ul {
	list-style: none;
}
header li {
	display: inline-block;	
	text-align: center;
	width: 24%;
	text-decoration: none;
}
header ul li a {
	text-decoration: none ;
	color: black;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}

.image-size {
	width: 100%;
}
.content-block {
	display: inline-block;
	width: 24%;
}
.heading {
	text-align: center;
}
.white-bg {
	background: #EAEFEF;
}
.grey-bg {
   background:#9AA0A6;
 
}
.black-bg{
	background: #202124;
	color: white;
}
.darkgrey-bg {
	background:#444444;
	color: white;
}
.center {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
}
h2 span { 
	border-bottom: solid;
	border-bottom-color: #9AA0A6;
}
.table-width {
	width: 100%;
}
.table-element {
	display:inline-block;
	width: 32%;
}
.image-container {	
	width: 100%;
}
.image-width {
	display: inline-block;
	width: 30%;
	box-shadow: 4px 4px 10px;
	margin: 0 5px;
	padding: 0 5px;
}
.theading { 
  background: #9AA0A6;
  color: white;
  padding: 30px;
}
.table-color {
	background: black;
   color: white;
   padding: 30px;
}
td {
	text-align: center;
}
table a:hover {
	background: 	#ccc;
	color: #000;
}
.form-element {
	padding: 10px ;
	width: 100%;
}

footer {
	text-align: center;
	padding: 60px;
	background: #F1F3F4;
	margin-top: 60px;
}
footer span { 
	color: white;
	background: black;
	padding: 10px ;
}
.button-element {
	width: 100%;
	color: white;
	background: black;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
}
	
.bigger-content {
	font-size: 20px;
}
h4 {
	font-size: 15px;
	color: #444444;
}