* {
	box-sizing: border-box;
}
header {
	background: black;
}


li {
	display: inline-block;
	list-style: none;
	color: white;
}

body {
	margin: 0 0;
}
.margin-left {
	margin-left: -30px;
}
.right-menu {
	display: inline-block;
	float: right;
}
h1 {
	font-family: Oswald; 
	margin-top: 53px;
	font-size:	48px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.margin-bottom {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0;
	/*font-family: "Segoe UI", Arial, sans-serif;*/
	letter-spacing: 0;
	font-family: Oswald;
	font-style: normal;
}

.jane-color {
	background: black;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
}

ul li a:hover {
	background: #F1F3F4;
}
.logo-style {
	padding: 10px;
	display: inline-block;
}
.main-banner {
	max-width: 100%;
	margin-top: 48px;
	position: relative;
}
.banner-title {
	position: absolute;
	top: 39%;
	left: 25;
	color: white;
}
	
.big-text {
	font-size: 64px;
	margin: 0;
}
.jane-title {
	font-style: normal;
    font-size: 36px;
	font-family: Segoe UI, Arial, sans-serif;
}
.button-design {
	padding: 15px 15px;
	opacity: 0.60;
	background: #fff;
	color: black;
}

.border{
	border: 0px solid #ccc;
	background: #F1F3F4;
}
.container {
	max-width: 1500px;
	padding: 12px 24px;
	margin-top: 17px;
}
.center {
    text-align: center;
	}

span.opacity {
    opacity: 0.60;
}

h3 {
    font-weight: 400;
    margin: 10px 0;
}

h5 {
    font-weight: 400;
    margin: 10px 0;
}
.col-style {
    display: flex;
    flex-wrap: wrap;
}


.like-button {
	padding: 8px 10px;
}


.reply-button {
	padding: 7px 17px;
	background: black;
	color: white;
}

.white{
	background: white;
	color: black;
	padding: 3px 7px;
}
.display-flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.display-inline {
    display: inline-flex;
    margin-top: 20px;
}
.left {
    width: 66.6666%;
    background: white;
    padding-right: 17px;
}

.right {
    width: 33.3333%;
    padding-left: 16px;
}
.container-black {
	background: black;
	color: white;
	padding: 5px 19px;
}

.container-padding {
    background: black;
    color: white;
    margin-top: 46px;
    padding: 1px 13px;
}
h4 {
	font-size: 16px;
}
.list-style{
	background: white;
	padding: 1;
}
ul li {
	color: black;
}


	


