* {
	box-sizing: border-box;
}
header {
	background: black;
}

ul {
	
}

li {
	display: inline-block;
	list-style: none;
	color: white;
	padding: 15px;
}

body {
	margin: 0 0;
}
.margin-left {
	margin-left: -30px;
}
.right-menu {
	display: inline-block;
	float: right;
}
h1  {
	font-family: Oswald; 
	margin-top: 71px;
	font-size:	45px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.margin-bottom {
	font-family: Oswald;
	font-size: 16px;
	/*letter-spacing: 1px;*/
	margin-bottom: 0;
	margin-top: 0;
	
}
/*.margin-bottom {
	margin-bottom: 0;
	margin-top: 0;
	font-weight: bold;
}*/

	