body{
	 font-family: Dancing Script, cursive;
	 font-size: 20px
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.box{
    border: 2px solid #000;
    width: 150px;
    height: 100;
    background: #000;
	color: #fff;
}

.button-box{
	display: inline-block;
	margin-top: 25px;
    border: 1px solid #000;
    width: 150px;
    height: 100px;
	color: #fff;
}
.width{
	width: 24%;
}
.pink{
	background:#FE81D4;

}

.yellow{
    background: #FFDE42;
}

.Green{
    background: #2F6B3F;
}
.Red{
    background: #DB1A1A;

}
.Purple{
    background: #9a47c1;
}
.Brown{
    background: #4c3005;

}
.Grey{
    background: #9b9b93;

}
.Light-pink{
    background: #FAACBF;

}
.pumpkin{
    background: #FF6700;

}
.Cornflower{
    background: #3A6EA5;

}
.flag-red{
    background: #C1121F;

}
.blue{
    background: #6367FF;

}



	