body{
	 font-family: Dancing Script, cursive;
	 font-size: 20px
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.box{
    border: 2px solid #000;
    width: 150px;
    height: 100;
    background: #000;
	color: #fff;
}

.button-box{
	display: inline-block;
	margin-top: 25px;
    border: 1px solid #000;
    width: 150px;
    height: 100px;
	color: #fff;
}
.width{
	width: 24%;
}
.pink{
	background:#FE81D4;
}

.yellow
	