@media only screen and (max-width: 900px) {
    .col-3 {
        width: 50%;
    }
    .col-box {
        background-color: red;
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px) {
    .col-3 {
        width: 100%;
    }
    .col-box {
        background-color: yellow;
        font-size: 20px;
    }
}