body {
	font-family: "Playfair", serif;		
	margin: 0px;
}
header {
	background: yellow ;
	margin-top: 20PX;
}
ul {
	float: right;
	padding: 20px;
	margin-left: 10x;
}
li {
	list-style: none;
	display: inline-block;
	float: left;
	padding: 10px;
	
}
.left-image {
	float: left;
	width: 49%;
}
	
.right-content {
	float: left;
	width: 49%;
	text-align: center;	
}

.container {
	max-width: 1300px;
	margin: 50 auto ;
	
}
.clear-space {
	clear: both ;
}
.new-section {
	float: left;
	width: 50%;
	margin: 50 auto;
}
.image-right {
	float: right;
	width: 50%;
	margin: 50 auto;
}
.second-spaceclear {
	clear: both;
}
.text-color {
	color: #6C6565;
}
footer {
	background: #DBDBDB;
	padding: 30px;
	text-align: center;
}